.location {
	width: 500px;
	max-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.tweet {
	width: 90%;
	padding: 0 10px 10px 10px;
	margin-bottom: 5px;
}

.locationHeader {
	font-size: 18px;
	font-weight: 600;
	padding: 0 10px;
}